<h1>Welcome to MakersBnB</h1>

 <ul>
    <% @rooms.each do |room| %>
      <li class='room'>
        <%= room %>
        <form action='/bookingcompleted' method='post'>
          <input type="hidden" name="address" value="<%= room %>">
          <input type='submit' name='Book' />
        </form>
      </li>
    <% end %>
</ul>