<h1>Welcome to MakersBnB</h1> 


<% if @user %>
  <h2>Welcome, <%= @user.email %></h2>
<% end %>

 <ul>
    <% @rooms.each do |room| %>
      <li class='room'>
        <%= room %>
        <form action='/bookingcompleted' method='post'>
          <input type='submit' name='Book'/>
        </form>
      </li>
    <% end %>
</ul>