<form action='/' method='post'>
  <input type='text' name='address'>
  <input type='text' name='description'>
  <input type='text' name='price_per_night'>
  <input type='submit' name='Submit'>
</form>