<form action='/' method='post'>
  <input type='text' placeholder="Address" name='address'><br>
  <input type='text' placeholder="Describe the accomodation" name='description'><br>
  <input type='text' placeholder="Price per night" name='price_per_night'><br>
  <input type='text' Placeholder="First day of availability" name='start_date'>
  <input type='text' placeholder="Last day of availability" name='end_date'><br>
  <input type='submit' name='Submit'><br>
</form>