<html>
<head>
<link rel="stylesheet" href="newlisting.css">
</head>
  <div class="new-listing">
  <h1> Please add your room</h1>
    <form action='/' method='post'>
      <input type='text' placeholder="Address" name='address'><br>
      <div class="description"><input type='text' placeholder="Describe the accomodation" name='description'><br></div>
      <input type='text' placeholder="Price per night" name='price_per_night'><br>
      <input type='text' Placeholder="First day of availability" name='start_date'>
      <input type='text' placeholder="Last day of availability" name='end_date'><br>
      <input type='submit' name='Submit'><br>
    </form>
  </div>
  <footer>
  <div class="left-footer">
  <h3>MakersBnB</h3>
  <h4> Makers Lane</h4>
  <h4> Makersville</h4>
  <h4> The Universe</h4>
  </div>

  <div class="centre-footer">
  <h5> Managing Director: Oliver Cutting</h5>
  <h5> Managing Director: Sonali Kar</h5>
  <h5> Managing Director: Luce Collins</h5>
  <h5> Managing Director: John Connolly</h5>
  <br>
  <h6>Legal</h6>
  <h6> Do not book holidays from this site, they are not fit for purpose and you may still be charged.</h6>
   </div>
  <div class="footer-left">
  <img src="images/logo.jpg" alt="logo">
  </div>

  </footer>
</html>
